/*GENERAL*/

body {
  font-family: Helvetica, sans-serif;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: center;
}

/*HEADER*/

header {
  height: 69px;
  width: 100%;
  border-bottom: 1px solid seashell;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

header img {
  padding-left: 10px;
  height: 50px;

}
header nav {
  padding-right: 15px;
  width: 400px;
  display: flex;
  justify-content: space-around;
}

header a {
  font-family: Helvetica, sans-serif;
  font-size: 22px;
  color: seashell;

}

/*MISSION*/

.img-mission-background {
  height: 700px;
  width: 1200px;
  background-image: url("./img-mission-background.jpg");
  display: flex;
  align-items: center;
}


.OurMission {
  width: 1200px;
  background-color: black;
  position: absolute;
  height: 100px;

}
.OurMission h2, h4{
  margin: 10px;
}

/*PROPOSITION*/
.Question {
  margin: 10px;
}

.TeaOfTheMonth {
  width: 1000px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.Menu {
  margin-right: 10px;
  margin-bottom: 60px;
  width: 300px;
  height: 200px;
}
.Menu h4 {
  margin-top: 10px;
}
.Menu img {
  width: 300px;
  height: 200px;
}

/*LOCATIONS*/

.locations {
  margin-top: 50px;
  height: 500px;
  width: 1200px;
  background-image: url("./img-locations-background.jpg");
  background-position: center;
}
.block {
  width: 300px;
  Height: auto;
  background-color: black;
  opacity: 1;
  margin-right: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.coordinates {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}

/*BOTTOM*/
.bottom {
  height: 200px;
}
footer {
  padding-left: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 1200px;
}
